@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
    background-color:rgb(240, 235, 235);

}

/*-- Contenedor Principal --*/

.page{
    
    height: 100%;
    width: 100%;
    padding: 5rem;
    overflow: hidden;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

    position: relative;

}

/* Imagen a la izquierda  */

.item_1{
    background-image: url(/img/img1.png);
    background-position: right;
    
    background-repeat: no-repeat;

	width: 50%;
    height: 30rem;

}

/* Imagen a la Derecha */

.item_2{
    background-image: url(/img/img2.jpeg);
    background-position: left;
   
    background-repeat: no-repeat;
    opacity: .5;

	width: 50%;
    height: 30rem;

}

/* Estilo Contenedor del Parrafo */

.item_text{
    max-width: 350px;
    width: 100%;
    padding: 20px 10px;
    margin: 0 auto;
    margin-top: 2rem;
    margin-left: 1rem;
    color: #141414; 
    background-color: white;
    line-height: 1.5;
    
}

/* Estilo Titulo */

.title_h2{    
    background-color: rgb(235, 235, 235);
	font-size: 2rem;
	color: black;
    font-family: "Poiret One", sans-serif;
    padding-bottom: .5rem;
    text-align: center;
}

/* Estilo Parrafo */

.paragraph{
    padding-top: .5rem;
    padding-bottom: .5rem;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
}

/* Estilo Boton */

.item_2 a{
    padding-top: 1rem;
    color:white;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    background-color: rgb(140, 110, 74);
    padding: .5rem;
}

/* Efecto boton */

.item_2 a:hover{
    color:white;
    text-decoration: none;
    background-color: rgb(81, 155, 173);

}

/* Estilo Segunda Pagina */

#services{
    margin: 2rem;
    width: 100%;
    min-height: auto;
  
     
}
/* Parrafo */
.title_h{    
    width: 50%;
    background-color: rgb(235, 235, 235);
	font-size: 50px;
	color: black;
    font-family: "Poiret One", sans-serif;
    padding-bottom: .5rem;
    text-align:center;
}

.sec1{
    width: 50%;
    height: 25rem;
    background-color: rgb(240, 235, 235);
    margin: 2rem;
    padding: .5rem;
    display: inline-block;
    
}
/* Imagen */

.sec2{
    width: 30%;
    height: 20rem;
    margin-left: 10rem;
    padding: 5rem;
    background-image: url(/img/img3.png);
    background-repeat: no-repeat;
    float:inline-end;
    display: inline-block;
 
}

ul {
    margin-left: 5rem;
    list-style: none;
    
}

li{
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    text-align: left;
    cursor: pointer;

}

ul li:hover::marker{
    content: '♜';
    color:rgb(140, 110, 74);
}





       
